ol.upper {
  list-style: upper-roman;
  list-style-type: upper-roman;
}
ol.lower{
  list-style: lower-roman;
  list-style-type: lower-roman;
}
.column {
  float: left;
  width: 50%;
}
@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 992px) {
  .row {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .row {
    width: 100%;
  }
}