ol.upper {
  list-style: upper-roman;
  list-style-type: upper-roman;
}
ol.lower{
  list-style: lower-roman;
  list-style-type: lower-roman;
}
.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}